{% extends "layout.njk" %}

{% block content %}
  <table class="table table-bordered table-striped table-hover">
    {% for cat in cats %}
    <tr><td>
    <a href="/categories/{{cat.id}}">
    {{cat.label}}
  </a>
  </td></tr>
    {% endfor %}
  </table>
{% endblock %}
